{{define "content"}}
	<div class="w-full h-full flex flex-row">
		<aside class="flex flex-col h-full w-full max-w-60 bg-secondary">
			{{template "header" .}}
		</aside>
		<main class="flex flex-col p-8">
			<div
				x-data="{ pub_key: $store[APP_NAME].pub_key }"
				x-init="
					$watch('$store[APP_NAME].pub_key', value => {
							pub_key = value;
					})
				"
			>
				<span
					x-show="pub_key"
					x-text="pub_key"
					class="text-primary"
				>
				</span>
			</div>

			<div class="absolute bottom-0 right-0">
				<button @click="theme = theme === 'light' ? 'dark' : 'light'">
					Toggle Theme
				</button>
			</div>

			<button
				@click="toast(
					'成功 成功 成功 成功', {
						type: 'success',
						description: 'Something went right',
						position: 'bottom-left',
					}
				)"
			>
				Success
			</button>
			<button
				@click="toast(
					'成功 成功 成功 成功', {
						type: 'warning',
						description: 'Be careful - something bad might happen',
						position: 'bottom-left',
					}
				)"
			>
				Warning
			</button>
			<button
				@click="toast(
					'成功 成功 成功 成功 成功', {
						type: 'danger',
						description: 'Okay, something bad happened',
						position: 'bottom-left',
					}
				)"
			>
				Danger
			</button>
			<button
				@click="toast(
					'成功 成功 成功', {
						type: 'info',
						description: 'Information placed in the top right',
						position: 'top-right',
					}
				)"
			>
				Top right
			</button>
			<button
				@click="toast(
					'成功 成功 成功 成功 成功 ', {
						type: 'success',
						description: 'This is some random long message about the transaction.',
						position: 'bottom-left',
					}
				)"
			>
				Bottom-left
			</button>
			<button
				@click="toast(
					'成功 成功 成功 成功', {
						type: 'default',
						description: 'This is some random long message about the transaction.',
						position: 'top-center',
					}
				)"
			>
				Top center
			</button>
		</main>
	</div>
{{end}}

{{define "header"}}
    <header class="w-full pt-lg flex justify-between items-center">
			<div style="height:16px;width:16px">
				<svg viewBox="0 0 112 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M8.61939 14.78L3.67377 9.8111C2.83341 8.96678 1.47091 8.96678 0.630274 9.8111C-0.210091 10.6554 -0.210091 12.0243 0.630274 12.8689L7.09764 19.3668C7.93801 20.2111 9.30078 20.2111 10.1411 19.3668L16.2284 13.2506L13.1852 10.1927L8.61939 14.78Z" fill="#16B8A2"></path>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M27.2608 5.2251L17.7507 14.78L8.23957 5.22402C7.39894 4.37943 6.03644 4.37943 5.19607 5.22402C4.3557 6.06835 4.3557 7.43727 5.19607 8.28186L16.229 19.3667C17.0693 20.2111 18.4318 20.2111 19.2725 19.3667L30.3043 8.28294C31.1446 7.43835 31.1446 6.06943 30.3043 5.2251C29.4636 4.38078 28.1011 4.38078 27.2608 5.2251Z" fill="#FFB41F"></path>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M34.8697 12.87L28.4034 19.3667C27.563 20.211 26.2005 20.211 25.3602 19.3667L9.7615 3.69455C8.92113 2.85023 8.92113 1.48131 9.7615 0.636986C10.6021 -0.207609 11.9646 -0.207609 12.805 0.636986L26.8817 14.78L31.8262 9.81212C32.6668 8.9678 34.0293 8.9678 34.8697 9.81212C35.7101 10.6567 35.7101 12.0256 34.8697 12.87Z" fill="#F56358"></path>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M25.7386 0.638004C24.8982 -0.20632 23.5357 -0.20632 22.6951 0.638004L13.185 10.1929L16.2285 13.2507L25.7386 3.69584C26.5789 2.85125 26.5789 1.48233 25.7386 0.638004Z" fill="#16B8A2"></path>
				</svg>
			</div>
			<div
				x-data="{ is_connected: $store[APP_NAME].is_connected }"
				x-init="
					$watch('$store[APP_NAME].is_connected', value => {
						is_connected = value;
					})
				"
			>
				<button
					x-show="!is_connected"
					@click="$store[APP_NAME].connect_wallet()"
				>
					Connect
				</button>
				<button
					x-show="is_connected"
					@click="$store[APP_NAME].disconnect_wallet()"
				>
					Disconnect
				</button>
			</div>
    </header>
{{end}}
