<!DOCTYPE html>
<html lang="en" style="height:100vh;background:#0d0c10;">
    <head>
        {{template "metatags" .}}
        {{template "css" .}}
        {{template "js" .}}
    </head>
    <body class="min-h-full h-full bg-[#0d0c10]">
        {{template "content" .}}
    </body>
</html>