<!DOCTYPE html>
<html lang="en" x-data="{theme:'dark'}" :data-theme="theme">
  <head>
    {{template "metatags" .}}
    {{template "css" .}}
    {{template "js" .}}
  </head>
  <body class="w-full h-full">
    {{template "content" .}}
    {{template "toast" .}}
  </body>
</html>
