<!DOCTYPE html>
<html lang="en" style="height:100vh;background:#fff;">
    <head>
        {{template "metatags" .}}
        {{template "css" .}}
        {{template "js" .}}
    </head>
    <body class="min-h-full h-full bg-white px-4 sm:px-8 md:px-12 py-2 sm:py-4 md:py-6">
        {{template "content" .}}
    </body>
</html>
