<!DOCTYPE html>
<html lang="en" style="height:100vh;background:#1a1b1f;">
    <head>
        {{template "metatags" .}}
        {{template "css" .}}
        {{template "js" .}}
    </head>
    <body class="min-h-full h-full bg-[#1a1b1f]">
        {{template "content" .}}
    </body>
</html>