{{define "css"}}
  <link rel="stylesheet" type="text/css" href="{{file "css/tailwind.min.css"}}">
  <link rel="stylesheet" type="text/css" href="{{file "css/fonts.css"}}">
  <link rel="stylesheet" type="text/css" href="{{file "css/tiny.min.css"}}">

  <style>
    :root {
      font-family: Inter, system-ui,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,Helvetica,Arial,'Helvetica Neue',sans-serif,var(--tiny-font-family-emoji);
      font-size: 14px;
      height: 100%;
      margin: 0;
    }
    body {
      background: var(--tiny-background-color);
      color: var(--tiny-color);
      font-size: 1rem;
      font-weight: var(--tiny-font-weight);
      font-feature-settings: 'liga' 1, 'calt' 1, 'ss01' 1, 'ss02' 1, 'ss03' 1;
      text-rendering: optimizeLegibility;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
{{end}}
